<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.ssm.mapper.PetMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.ssm.pojo.Pet" >
    <id column="petid" property="petid" jdbcType="BIGINT" />
    <result column="petname" property="petname" jdbcType="VARCHAR" />
    <result column="petbreed" property="petbreed" jdbcType="VARCHAR" />
    <result column="petsex" property="petsex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="describle" property="describle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    petid, petname, petbreed, petsex, birthday, describle
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.ssm.pojo.PetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from pet
    where petid = #{petId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pet
    where petid = #{petId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.ssm.pojo.PetExample" >
    delete from pet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.ssm.pojo.Pet" >
    insert into pet (petid, petname, petbreed,
      petsex, birthday, describle
      )
    values (#{petId,jdbcType=INTEGER}, #{petName,jdbcType=VARCHAR}, #{petBreed,jdbcType=VARCHAR},
      #{petSex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{describle,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.ssm.pojo.Pet" >
    insert into pet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="petId != null" >
        petid,
      </if>
      <if test="petName != null" >
        petname,
      </if>
      <if test="petBreed != null" >
        petbreed,
      </if>
      <if test="petSex != null" >
        petsex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="describle != null" >
        describle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="petId != null" >
        #{petId,jdbcType=INTEGER},
      </if>
      <if test="petName != null" >
        #{petName,jdbcType=VARCHAR},
      </if>
      <if test="petBreed != null" >
        #{petBreed,jdbcType=VARCHAR},
      </if>
      <if test="petSex != null" >
        #{petSex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="describle != null" >
        #{describle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.ssm.pojo.PetExample" resultType="java.lang.Integer" >
    select count(*) from pet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pet
    <set >
      <if test="record.petId != null" >
        petid = #{record.petId,jdbcType=INTEGER},
      </if>
      <if test="record.petName != null" >
        petname = #{record.petName,jdbcType=VARCHAR},
      </if>
      <if test="record.petBreed != null" >
        petbreed = #{record.petBreed,jdbcType=VARCHAR},
      </if>
      <if test="record.petSex != null" >
        petsex = #{record.petSex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.describle != null" >
        describle = #{record.describle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pet
    set petid = #{record.petId,jdbcType=INTEGER},
      petname = #{record.petName,jdbcType=VARCHAR},
      petbreed = #{record.petBreed,jdbcType=VARCHAR},
      petsex = #{record.petSex,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      describle = #{record.describle,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.ssm.pojo.Pet" >
    update pet
    <set >
      <if test="petName != null" >
        petname = #{petName,jdbcType=VARCHAR},
      </if>
      <if test="petBreed != null" >
        petbreed = #{petBreed,jdbcType=VARCHAR},
      </if>
      <if test="petSex != null" >
        petsex = #{petSex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="describle != null" >
        describle = #{describle,jdbcType=VARCHAR},
      </if>
    </set>
    where petid = #{petId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.ssm.pojo.Pet" >
    update pet
    set petname = #{petName,jdbcType=VARCHAR},
      petbreed = #{petBreed,jdbcType=VARCHAR},
      petsex = #{petSex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      describle = #{describle,jdbcType=VARCHAR}
    where petid = #{petId,jdbcType=INTEGER}
  </update>
</mapper>